.footer__container {
    background-color: var(--primary--color);
    padding: 3rem;
    color: var(--secondary--color);
}

.nav__container {
    border-bottom: 1px solid var(--secondary--color);
    padding-bottom: 1.5rem;
}

.read__container {
    display: flex;
    gap: 2rem;
    list-style: none;
    font: var(--paragraph--size);
}

.read__container a:link,
.read__container a:visited,
.read__container a:active {
    color: var(--secondary--color);
    text-decoration: none;
}

.footer__desc__container {
    display: flex;
    flex-direction: column;
    padding-top: 2rem;
    font: var(--footer--paragraph--size);
}